@charset "UTF-8";

.order {
    display: block;
    padding: 20px;
    /*background: #a5d3d3;*/
    border:solid 1px #aaa;
}

.order-title {
    margin:0;
    font-size: 2em;
}

.order-sub-title {
    margin:20px 0;
    font-size: 1em;
}

.order-part {
    display: inline-block;
    width:400px;
    height:270px;
    padding: 0 0 0 20px;
    margin: 0 6px 6px 0;
    line-height: 4em;
    border:solid 1px #aaaaaa;
}

.order-key {
    display: inline-block;
    width:100px;
}

.order-value {
    font-size:1.5em;
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom:solid 1px #aaa;
    background:none;
}

.order-address {
    position: absolute;
    width:270px;
    height:100px;
    margin:10px 0 0 0;
    background:none;
    resize:none;
    border:solid 1px #aaa;
}

.order-content {
    width:370px;
    height:175px;
    background:none;
    resize:none;
    border:solid 1px #aaa;
}

.order-submit {
    position:relative;
    left:50%;
    width:80px;
    margin:20px 0 0 -40px;
}